.section{
    width:320px;
    display: flex;
    gap:var(--spacing-4xl);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & svg[id="svg-result"]{
        color:var(--primary);
        width: 80px;
        height: 80px;
    }

    & p{
        color:var(--primary);
        font-weight:300;
        text-align: center;
        white-space: pre-wrap;
    }
}

@media(min-width:768px){
    .section{
        width:600px;
    }
}