.badge, .danger, .primary, .light, .neutral,.warning {
    width:fit-content;
    padding:var(--spacing-xs) var(--spacing-md);
    border-radius:var(--radius-xl);
    display: grid;
    place-content: center;

    & span[id="badge-text"]{
        text-align: center;
        font-weight:500;
        text-transform: capitalize;
    }
}

.danger {
    background-color: var(--red);
    & span[id="badge-text"]{
        color:var(--white);
    }
}

.primary {
    background-color: var(--primary);
    & span[id="badge-text"]{
        color:var(--white);
    }
}

.light {
    background-color: var(--gray-light);
    & span[id="badge-text"]{
        color:var(--gray-dark);
    }
}

.neutral {
    background-color: var(--gray-base);
    & span[id="badge-text"]{
        color:var(--gray-dark);
    }
}

.warning{
    background-color: var(--warning);
    & span[id="badge-text"]{
        color:var(--white);
    }
}

